.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(36, 36, 36);

    /* span {
        color: var(--tg-theme-text-color);
        margin-top: 20px;
    }
    .ldFacebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .ldFacebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: rgb(126, 207, 116);
        animation: ldFacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .ldFacebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }
    .ldFacebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }
    .ldFacebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
    @keyframes ldFacebook {
        0% {
            top: 8px;
            height: 64px;
        }
        50%,
        100% {
            top: 24px;
            height: 32px;
        }
    } */
}
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .ikigai {
        position: relative;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            z-index: 2;
            font-size: 20px;
            font-weight: 600;
            color: white;
            span {
                color: rgb(221, 200, 13);
            }
        }

        .circleLegft {
            top: 10px;
            left: 0;
            background-color: rgb(255, 136, 136);
            animation: spin-left 3s linear infinite;
        }
        .circleTop {
            top: 0;
            left: 10px;
            background-color: rgb(128, 130, 255);
            animation: spin-top 3s linear infinite;
        }
        .circleRight {
            right: 0;
            top: 10px;
            background-color: rgb(127, 243, 112);
            animation: spin-right 3s linear infinite;
        }
        .circleBotomm {
            bottom: 0px;
            left: 10px;
            background-color: rgb(233, 231, 113);
            animation: spin-bottom 3s linear infinite;
        }
        .circleContainer {
            position: absolute;
            width: 80px;
            height: 80px;
            opacity: 0.2;
            border: 1px solid rgb(141, 141, 141);
            border-radius: 50%;
            background: rgba(134, 203, 177, 1) 100%;
        }
    }
}

@keyframes spin-left {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(-30px);
    }
}
@keyframes spin-top {
    0% {
        transform: translateY(-30px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-30px);
    }
}
@keyframes spin-right {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(30px);
    }
}
@keyframes spin-bottom {
    0% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(30px);
    }
}
