.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba($color: #000000, $alpha: 0.3);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    .payContainer {
        position: relative;
        background: rgb(252, 252, 252);
        padding: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 90%;
        z-index: 3;

        .xmark {
            position: absolute;
            right: 15px;
            opacity: 0.5;
        }

        h2 {
            padding-top: 10px;
            padding-bottom: 22px;
        }

        .tarifs {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;

            li {
                position: relative;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                justify-content: center;
                width: 80px;
                height: 80px;
                padding: 5px;
                list-style: none;
                border: 1px solid rgb(233, 233, 233);
                border-radius: 10px;
                background: rgb(255, 255, 255);
                //box-shadow: 2px 2px 2px 0px black;

                h3 {
                    font-size: 24px;
                    font-weight: 400;
                    margin: 0;
                }

                span {
                    font-size: 14px;
                }
            }

            .checked {
                background: rgb(251, 255, 242);
                border: 1px solid rgb(204, 226, 175);
                top: -5px;
            }
        }
        button {
            display: flex;
            border: 1px solid rgb(212, 212, 212);
            background: rgb(26, 26, 26);
            text-decoration: none;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 8px;
            height: 50px;
            font-size: 16px;
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }
}
