.container {
    display: flex;
    padding: 20px;

    .leftBar {
        display: flex;

        width: 180px;
        ul {
            list-style: none;
            li {
                margin: 15px 0;
                cursor: pointer;
            }
        }
    }
    .rightBar {
    }
}
