.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 150px;
        background: rgb(152, 182, 118);
        border-radius: 0 0 20px 20px;
        overflow: hidden;
        top: 0px;
        left: 5%;
    }
    .image {
        z-index: 2;
        margin: 0;
        margin-left: auto;
        margin-top: 60px;
        margin-right: 20px;
        width: 150px;
    }
    .title {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 22px;
        position: absolute;
        top: 40px;
        margin-left: 40px;
        margin-bottom: 0px;
        color: white;
        z-index: 3;
    }

    img {
        margin-top: 50px;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .shape {
        display: flex;
        flex-direction: column;
        background: rgb(255, 255, 255);
        margin: 0 20px;
        border-radius: 20px;

        .info {
            background: rgb(245, 245, 245);
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;

            h2 {
                margin-bottom: 10px;
            }

            h3 {
                font-size: 14px;
                margin: 0;
                width: 170px;
                font-weight: 400;
                margin-bottom: 5px;
                opacity: 0.6;
            }
            span {
                font-size: 14px;
                margin: 0;
                width: 170px;
                font-weight: 400;
                opacity: 0.6;
            }
        }

        .mainButton {
            display: flex;
            background: rgb(0, 0, 0);
            text-decoration: none;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: white;
            border-radius: 8px;
            height: 55px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .button {
            display: flex;
            border: 1px solid rgb(212, 212, 212);
            background: rgb(255, 255, 255);
            text-decoration: none;
            align-items: center;
            justify-content: center;
            box-shadow: 2px 2px 0px 0px black;
            color: rgb(0, 0, 0);
            border-radius: 8px;
            height: 45px;
            width: 48%;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}
